body {
    background-color: rgb(55, 40, 190);
      padding-left: auto;
      padding-right: auto;
      margin-left: auto;
      margin-right: auto;
        display: flex;
        align-items: center;
    }

.p5Canvas{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: brown;
    border-radius: 20px;
}
